<div>
  <div id="find-options">
    <select id="nutrient-select">
      <option value="">Select Target Nutrient</option>
    </select>

    <select id="food-group-select">
      <option value="">Select Target Food Group (optional)</option>
    </select>
  </div>

  <button id="find-foods-button" class="button disabled">Find Foods</button>

  <div id="find-results-container" class="hidden">
    <div class="row">
      <div class="six columns">Name</div>
      <div class="six columns">Content per 100g</div>
    </div>
  </div>
</div>

<script type="text/javascript" src="../controllers/find-foods.js"></script>