<div>
  <form>
    <div class="row">
      <div class="twelve columns">
        <label for="login-email">Email</label>
        <input class="u-full-width" id="login-email" placeholder="Email" type='email'></input>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <label for="login-password">Password</label>
        <input class="u-full-width" id="login-password" placeholder="Password" type='password'></input>
      </div>
    </div>

    <button class="button" id="sign-in-button">Sign In</button>
  </form>
</div>


<script type="text/javascript" src="../controllers/sign-in.js"></script>