<div>
  <form>
    <div class="row">
      <div class="twelve columns">
        <label for="new-user-name">Name</label>
        <input class="u-full-width" id="new-user-name" placeholder="Name" type='text'></input>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <label for="new-user-email">Email</label>
        <input class="u-full-width" id="new-user-email" placeholder="Email" type='email'></input>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <label for="new-user-password">Password</label>
        <input class="u-full-width" id="new-user-password" placeholder="Password" type='password'></input>
      </div>
    </div>

    <button class="button" id="create-account-button">Create Account</button>
  </form>
</div>


<script type="text/javascript" src="../controllers/sign-up.js"></script>